# Web TikTok auth
TT_COOKIE="full-browser-cookie-for-tiktok-todo-check-what-actually-needed"
# Mobile auth tied to the API server
# Set "apiXX-core-XXXXXX.tiktokv.com" core URL - "apiXX-normal-..." URLs are heavily ratelimited
TT_MOBILE_URL="api16-core-ycru.tiktokv.com"
TT_SID_TT="some-hex-sid-id-from-mobile-app"
# Device ID and Install ID are shared between servers
TT_DEVICE_ID="some-numeric-mobile-device-id"
TT_INSTALL_ID="some-numeric-mobile-device-install-id"
# Legacy Web connection
TT_USERNAME="your-username"

# Regular Telegram bot token
TG_BOT_TOKEN="1234:your-tg-bot-token"
# App is required for Telethon MTProto, MTProto is required to read past messages
TG_APP_ID="1234"
TG_APP_HASH="your-app-hex-hash"
# Target Telegram channel ID (with "-" in front)
TG_CHANNEL_ID="-1234"
